<h1>Great place to work</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <p><%= number_to_phone "5555555555" %></p>

    <p><%= number_to_currency "15042" %></p>

    <p><%= number_to_percentage "80.4" %></p>

    <p><%= number_with_delimiter "11243213410" %></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.8150292836863!2d-103.4339456490127!3d20.677103004997193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428aebfb4fd8845%3A0x4a87672b9f5ae57c!2sPlaza+Galerias!5e0!3m2!1sen!2smx!4v1499090046147" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div> 
</div>